img{
    width:100px;
}

#absolute{
    position:absolute;
    bottom:0;
    left:0;

}
body{
    background-color:lightcyan;
    height:200%;
}
/* Divs are normally block elements but we can change that with the display property */
#container-rel{
    background-color:orange;
    display:inline-block;
}
#relative{
    position:relative;
    bottom:0;
    left:0;
    z-index:50;
    /* z-index affects depth of positioned elements */
}
#fixed{
    position:fixed;
    right:0;
    bottom:0;
}
#static{

}